*.pyc
__pycache__/
*.egg-info/
.trae/
docs/
config/
logs/
debug.log
opencode_client/

# Nuitka 打包相关
build_nuitka.py
run.py
*.build/
*.dist/
*.onefile-*
*.exe
*.dll
*.pyd
run.build/
run.dist/
run.onefile-build/

# 其他构建产物
build/
dist/
*.spec
others/
FTK_AI.ico